{% extends 'base.html' %}

{% block title %}{{chosen_survey}} - Question {{question_number}}{% endblock %}

{% block content %}
    <h3>{{surveys[chosen_survey].title}}:</h3>
    <p>Question {{question_number + 1}}:</p>
    <p>{{surveys[chosen_survey].questions[question_number].question}}</p>
    <form class="gray" action="/survey/{{chosen_survey}}/questions/{{question_number}}/answer" method="post">
        <ul>
        {% for choice in surveys[chosen_survey].questions[question_number].choices %}
            <li>
                <input id="{{choice}}" type="radio" name="answer" value="{{choice}}">
                <label for="{{choice}}">{{choice}}</label>
            </li>
        {% endfor %}
            <li><button>Submit</button></li>
        </ul>
    </form>
{% endblock %}