{% extends 'base.html' %}

{% block title %}{{chosen_survey}} - Thank You!{% endblock %}

{% block content %}
    <h3>{{surveys[chosen_survey].title}}:</h3>
    <p>Thank you for completing the {{surveys[chosen_survey].title}}!</p>
    <form action="/">
        <button>Home</button>
    </form>
    <h4>Your Responses:</h4>
    {% for question_list_item in surveys[chosen_survey].questions %}
        <p class="thank_you_question">{{question_list_item.question}}</p>
        <p class="thank_you_answer">{{session[chosen_survey][loop.index0]}}</p>
    {% endfor %}
{% endblock %}